/* Universal Styling */

.Contents {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    animation: fadePage 1s;
}

.WokeNavText {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

button {
    padding: 0;
    margin: 10px;
    width: 98px;
    height: 40px;
    background-color: #eef0f3;
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    box-shadow: -6px 6px 0px 0px #4a4a4a;
    font-size: 20px;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    transition: .5s ease;
}

button:hover {
    cursor: pointer;
    transition: .3s ease;
    box-shadow: none;
    opacity: 1;
    background-color: #6391c1;
    border: none;
    color: #eef0f3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: #4a4a4a;
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
}

@keyframes fadePage {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Login & Sign Up Screens */

.LogInText {
    font-size: 45px;
    margin-bottom: 0;
}

.StartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: fadePage 1.5s;
}

.StartContainerMini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 2;
}

.TaglineText {
    margin: 0;
    font-weight: 300;
    font-style: italic;
}

.WokeSmallText {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

#SearchBar {
    width: 280px;
}



/* Search & Dashboard Screens */

.CurrentLinkText {
    font-weight: 400;
    font-size: 20px;
    color: #6391c1;
    padding: 10px;
    text-decoration: none;
}

.CurrentSearchHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 0.6;
}

.CurrentSearchMainText {
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: #4a4a4a;
    margin: 0;
}

.CurrentSearchText {
    font-size: 24px;
    font-weight: 300;
    color: #4a4a4a;
    margin: 2%;
}

.DashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 2;
    animation: fadePage 1s;
}

.DashboardMiniText {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    text-transform: lowercase;
}

.DashboardText {
    font-size: 40px;
    margin: 0;
}

.InactiveText {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding: 10px;
}

.InactiveText:hover {
    cursor: pointer;
    opacity: .5;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.MiniContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 2;
    animation: fadePage 1s;
}

.NavBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex: .3;
    align-items: center;
    justify-content: center;
}

.NavBarLeft {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.NavBarRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NetworkText {
    font-size: 35px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.ResultsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    flex: 1;
}

.Tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin-bottom: 3%;
    background-color: #6391c1;
    transition: .5s;
    animation: 1s slideTiles ease;
}

.Tile:hover {
    background-color: #d25740;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
    transition: .8s;
    transform: rotateZ(360deg);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.TileContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
    flex: 2;
}

.TileText {
    color: #eef0f3;
    font-size: 30px;
    text-transform: uppercase;
}

.Username {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WokeNavText {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

#WokeSearchText {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}

@keyframes slideTiles {
    0% {
        transform: translateY(150%) scaleX(0.5);
    }
    50%{
        transform: translateY(-20%);
    }
    75%{
        transform: translateY(4%);
    }  
    100% {
        transform: translateY(0%) scaleX(1);
    }     
}

/* Semiotic */

.GraphDiv {
    width: 325px;
}

text {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
    /* Login & Sign Up Screens */
    .StartContainerNav {
        justify-content: center;
    }
    /* Search & Dashboard Screens */
    .CurrentSearchHeader {
        flex: 0.3;
    }

    .CurrentLinkText {
        margin: 0;
        padding: 0;
    }

    .CurrentSearchText {
        font-size: 18px;
    }

    .CurrentSearchMainText {
        font-size: 25px;
    }

    .InactiveText {
        margin: 0;
        padding: 0;
    }

    .NavBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        flex: 0.3;
    }

    .NavBarLeft {
        display: none;
    }

    .NavBarRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .Tile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: #6391c1;
    }

    .Tile:hover {
        box-shadow: none;
    }

    .TileContainer {
        display: flex;
        justify-content: space-around;
        align-items: space-between;
        width: 90vw;
        overflow-y: auto;
    }

    .TileText {
        color: #eef0f3;
        font-size: 20px;
    }

    .frame {
        position: relative !important;
    }
}