/* Universal Styling */

.Contents {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.InactiveText {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
}

.WokeSmallText {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

input {
    border: none;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding: 10px;
    color: #4a4a4a;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    width: 93px;
    height: 35px;
    color: #eef0f3;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border-radius: 4px;
    background-color: #6391c1;
    font-family: "Josefin Sans", sans-serif;
}



/* Login & Sign Up Screens */

.StartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.StartContainerNav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 98vw;
    flex: 0.3;
}

.StartContainerMini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 2;
}

.LogInText {
    font-size: 45px;
    margin: 0;
}

#SearchBar {
    border: none;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding: 10px;
    width: 280px;
    color: #4a4a4a;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
}



/* Search & Dashboard Screens */

.CurrentLinkText {
    font-weight: 400;
    font-size: 20px;
    color: #6391c1;
}

.CurrentResult {
    background-color: #6391c1;
    border-top: 1px solid #eef0f3;
}

.CurrentResultText {
    color: #eef0f3;
    font-weight: 300;
    font-size: 20px;
}

.CurrentSearchHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 0.6;
}

.CurrentSearchMainText {
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #4a4a4a;
    margin: 0;
}

.CurrentSearchText {
    font-size: 24px;
    font-weight: 300;
    color: #4a4a4a;
    margin: 2%;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.MiniContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex: 2;
}

.NavBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.NavBarLeft {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.NavBarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18vw;
}

.NewsSource,
.CurrentResult,
.PrevResult {
    width: 245px;
    height: 61px;
    display: flex;
    font-size: 30px;
    font-weight: 400px;
    color: #4a4a4a;
    align-items: center;
    justify-content: center;
}

.PrevResult {
    background-color: #e29081;
    color: #eef0f3;
    font-weight: 300;
    font-size: 20px;
    border-top: 1px solid #eef0f3;
}

.ResultsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    flex: 1;
}

.ResultsLogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 245px;
    height: 305px;
    border-radius: 5px;
    background-color: #aaaaaa;
}

.Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #6391c1;
}

.Tile:hover {
    background-color: #d25740;
    transition: 0.5s;
    transform: rotateZ(360deg);
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.5), 0 0 24px 0 rgba(255, 255, 255, 0.5);
}

.TileContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
    flex: 2;
}

.TileText {
    color: #eef0f3;
    font-size: 36px;
}

.Username {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
}

#WokeSearchText {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 500px) {
    /* Login & Sign Up Screens */
    .StartContainerNav {
        justify-content: center;
    }
    /* Search & Dashboard Screens */
    .CurrentSearchHeader {
        flex: 0.3;
    }

    .CurrentLinkText {
        margin: 0;
    }

    .CurrentSearchText {
        font-size: 18px;
    }

    .CurrentSearchMainText {
        font-size: 25px;
    }

    .NavBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        flex: 0.3;
    }

    .NavBarLeft {
        display: none;
    }

    .NavBarRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .ResultsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
        flex: 1;
        overflow-y: auto;
    }

    .ResultsLogContainer {
        margin-bottom: 10px;
    }

    .Tile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin-bottom: 15px;
        background-color: #6391c1;
    }

    .Tile:hover {
        box-shadow: none;
    }

    .TileContainer {
        display: flex;
        justify-content: space-around;
        align-items: space-between;
        width: 100vw;
        overflow-y: auto;
    }

    .TileText {
        color: #eef0f3;
        font-size: 20px;
    }
}